[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "64", :rx "16", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "200", :stroke-linecap "round", :stroke-width "24", :x "12", :height "128"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "24", :x1 "132", :y2 "152", :x2 "132"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "24", :x1 "92", :y2 "152", :x2 "92"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "24", :x1 "52", :y2 "152", :x2 "52"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "24", :x1 "244", :y2 "152", :x2 "244"}]]