[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "176", :stroke-linecap "round", :stroke-width "24", :x1 "136", :y2 "176", :x2 "120"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "80", :stroke-linecap "round", :stroke-width "24", :x1 "136", :y2 "80", :x2 "120"}] [:rect {:y "32", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "160", :stroke-linecap "round", :stroke-width "24", :x "48", :height "192"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "24", :x1 "48", :y2 "128", :x2 "208"}]]