[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polyline {:points "148 32 148 92 208 92", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:path {:d "M196,224h4a8,8,0,0,0,8-8V88L152,32H56a8,8,0,0,0-8,8v68", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:rect {:y "152", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "76", :stroke-linecap "round", :stroke-width "24", :x "40", :height "64"}] [:polyline {:points "116 172 152 152 152 216 116 196", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]