[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "136", :cy "104", :r "60", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "240", :stroke-linecap "round", :stroke-width "24", :x1 "104", :y2 "240", :x2 "168"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "204", :stroke-linecap "round", :stroke-width "24", :x1 "136", :y2 "240", :x2 "136"}] [:path {:d "M204,177.32A100,100,0,0,1,62.68,36", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]