[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "108", :stroke-linecap "round", :stroke-width "24", :x1 "48", :y2 "108", :x2 "208"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "180", :stroke-linecap "round", :stroke-width "24", :x1 "48", :y2 "180", :x2 "208"}] [:rect {:y "60", :rx "32", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "160", :stroke-linecap "round", :stroke-width "24", :x "48", :height "172"}] [:path {:d "M80,60V32a8,8,0,0,1,8-8h80a8,8,0,0,1,8,8V60", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "60", :stroke-linecap "round", :stroke-width "24", :x1 "128", :y2 "24", :x2 "128"}]]