[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "200", :cy "136", :r "16"}] [:ellipse {:rx "40", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :stroke-linecap "round", :stroke-width "24", :cx "200", :cy "136", :ry "64"}] [:polyline {:points "96 72 136 32 168 32", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:path {:d "M200,200H56c-22.09,0-40-28.65-40-64S33.91,72,56,72H200", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "156", :stroke-linecap "round", :stroke-width "24", :x1 "80", :y2 "156", :x2 "161.99"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "116", :stroke-linecap "round", :stroke-width "24", :x1 "17.99", :y2 "116", :x2 "104"}]]