[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "48", :rx "16", :stroke "currentColor", :transform "translate(256 240) rotate(180)", :fill "none", :stroke-linejoin "round", :width "192", :stroke-linecap "round", :stroke-width "24", :x "32", :height "144"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "228", :stroke-linecap "round", :stroke-width "24", :x1 "160", :y2 "228", :x2 "96"}] [:polyline {:points "104 112 128 88 152 112", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "88", :stroke-linecap "round", :stroke-width "24", :x1 "128", :y2 "152", :x2 "128"}]]