[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polyline {:points "176 40 216 40 216 80", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:polyline {:points "80 216 40 216 40 176", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:polyline {:points "216 176 216 216 176 216", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:polyline {:points "40 80 40 40 80 40", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:rect {:y "84", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "88", :stroke-linecap "round", :stroke-width "24", :x "84", :height "88"}]]