[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "132", :stroke-linecap "round", :stroke-width "24", :x1 "128", :y2 "80", :x2 "128"}] [:circle {:cx "128", :cy "172", :r "16"}] [:rect {:y "52.13", :rx "7.95", :stroke "currentColor", :transform "translate(-53.02 128) rotate(-45)", :fill "none", :stroke-linejoin "round", :width "151.73", :stroke-linecap "round", :stroke-width "24", :x "52.13", :height "151.73"}]]