[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "176", :cy "80", :r "16"}] [:rect {:y "36", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "184", :stroke-linecap "round", :stroke-width "24", :x "36", :height "184"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "148", :stroke-linecap "round", :stroke-width "24", :x1 "132", :y2 "132", :x2 "148"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "124", :stroke-linecap "round", :stroke-width "24", :x1 "108", :y2 "116", :x2 "116"}] [:path {:d "M183.33,119.32a56,56,0,1,1-46.66-46.65", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]