[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "48", :stroke-linecap "round", :stroke-width "8", :x1 "48", :y2 "48", :x2 "224"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "208", :stroke-linecap "round", :stroke-width "8", :x1 "72", :y2 "96", :x2 "184"}] [:polyline {:points "72 112 72 208 168 208", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}]]