[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "128", :cy "128", :r "96", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:circle {:cx "128", :cy "128", :r "40", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "88", :stroke-linecap "round", :stroke-width "8", :x1 "128", :y2 "88", :x2 "215.29"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "148", :stroke-linecap "round", :stroke-width "8", :x1 "162.64", :y2 "223.6", :x2 "118.99"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "148", :stroke-linecap "round", :stroke-width "8", :x1 "93.36", :y2 "72.4", :x2 "49.71"}]]