[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "120", :stroke-linecap "round", :stroke-width "8", :x1 "40", :y2 "120", :x2 "216"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "152", :stroke-linecap "round", :stroke-width "8", :x1 "40", :y2 "152", :x2 "216"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "184", :stroke-linecap "round", :stroke-width "8", :x1 "40", :y2 "184", :x2 "216"}] [:rect {:y "88", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "176", :stroke-linecap "round", :stroke-width "8", :x "40", :height "128"}] [:path {:d "M88,88V56a40,40,0,0,1,80,0V88", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}]]