[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "64", :stroke-linecap "round", :stroke-width "8", :x1 "40", :y2 "64", :x2 "216"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "8", :x1 "40", :y2 "128", :x2 "160"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "192", :stroke-linecap "round", :stroke-width "8", :x1 "40", :y2 "192", :x2 "112"}] [:circle {:cx "176", :cy "192", :r "24", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:polyline {:points "200 192 200 112 240 124", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}]]