[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "8", :x1 "216", :y2 "56", :x2 "40"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "8", :x1 "104", :y2 "168", :x2 "104"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "8", :x1 "152", :y2 "168", :x2 "152"}] [:path {:d "M200,56V208a8,8,0,0,1-8,8H64a8,8,0,0,1-8-8V56", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:path {:d "M168,56V40a16,16,0,0,0-16-16H104A16,16,0,0,0,88,40V56", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}]]