[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "128", :cy "128", :r "88", :opacity "0.2" :fill "currentColor"}] [:circle {:cx "128", :cy "128", :r "88", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "24", :stroke-linecap "round", :stroke-width "16", :x1 "56", :y2 "56", :x2 "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "24", :stroke-linecap "round", :stroke-width "16", :x1 "200", :y2 "56", :x2 "232"}] [:polyline {:points "128 72 128 128 184 128", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]