[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:x "88", :y "64", :width "80", :height "168", :rx "8", :opacity "0.2"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "32", :stroke-linecap "round", :stroke-width "16", :x1 "56", :y2 "32", :x2 "200"}] [:rect {:y "64", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "80", :stroke-linecap "round", :stroke-width "16", :x "88", :height "168"}]]