[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "128", :cy "56", :r "24", :opacity "0.2" :fill "currentColor"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "232", :stroke-linecap "round", :stroke-width "16", :x1 "128", :y2 "80", :x2 "128"}] [:circle {:cx "128", :cy "56", :r "24", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "120", :stroke-linecap "round", :stroke-width "16", :x1 "88", :y2 "120", :x2 "168"}] [:path {:d "M40,144a48,48,0,0,0,48,48,40,40,0,0,1,40,40,40,40,0,0,1,40-40,48,48,0,0,0,48-48", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]