[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polygon {:points "88 192 192 192 192 88 88 192", :opacity "0.2"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "64", :stroke-linecap "round", :stroke-width "16", :x1 "64", :y2 "140", :x2 "140"}] [:polygon {:points "88 192 192 192 192 88 88 192", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]