[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polygon {:points "176 144 208 176 176 208 176 144", :opacity "0.2"}] [:polyline {:points "48 80 80 48 80 112 48 80", :opacity "0.2"}] [:polygon {:points "176 144 208 176 176 208 176 144", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "176", :stroke-linecap "round", :stroke-width "16", :x1 "48", :y2 "176", :x2 "176"}] [:polygon {:points "80 112 48 80 80 48 80 112", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "80", :stroke-linecap "round", :stroke-width "16", :x1 "208", :y2 "80", :x2 "80"}]]