[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:x "64", :y "40", :width "128", :height "200", :rx "16", :opacity "0.2"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "8", :stroke-linecap "round", :stroke-width "16", :x1 "96", :y2 "8", :x2 "160"}] [:rect {:y "40", :rx "16", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "128", :stroke-linecap "round", :stroke-width "16", :x "64", :height "200"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "112", :stroke-linecap "round", :stroke-width "16", :x1 "128", :y2 "168", :x2 "128"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "140", :stroke-linecap "round", :stroke-width "16", :x1 "100", :y2 "140", :x2 "156"}]]