[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:path {:d "M40,176V152a88,88,0,0,1,176,0v24Z", :opacity "0.2"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "176", :stroke-linecap "round", :stroke-width "16", :x1 "24", :y2 "176", :x2 "232"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "208", :stroke-linecap "round", :stroke-width "16", :x1 "24", :y2 "208", :x2 "232"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "64", :stroke-linecap "round", :stroke-width "16", :x1 "128", :y2 "32", :x2 "128"}] [:path {:d "M104,32h48", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:path {:d "M40,176V152a88,88,0,0,1,176,0v24", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]