[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:x "32", :y "56", :width "192", :height "144", :rx "8", :transform "translate(256 0) rotate(90)", :opacity "0.2" :fill "currentColor"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "72", :stroke-linecap "round", :stroke-width "16", :x1 "160", :y2 "72", :x2 "96"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "16", :x1 "160", :y2 "104", :x2 "96"}] [:rect {:y "56", :rx "8", :stroke "currentColor", :transform "translate(256 0) rotate(90)", :fill "none", :stroke-linejoin "round", :width "192", :stroke-linecap "round", :stroke-width "16", :x "32", :height "144"}] [:circle {:cx "128", :cy "180", :r "12"}]]