[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:path {:d "M232,168H216a40,40,0,0,1,0-80h16Z", :opacity "0.2" :fill "currentColor"}] [:path {:d "M24,168H40a40,40,0,0,0,0-80H24Z", :opacity "0.2" :fill "currentColor"}] [:rect {:y "56", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "208", :stroke-linecap "round", :stroke-width "16", :x "24", :height "144"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "16", :x1 "128", :y2 "200", :x2 "128"}] [:path {:d "M232,168H216a40,40,0,0,1,0-80h16", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:path {:d "M24,168H40a40,40,0,0,0,0-80H24", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]