[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:x "96", :y "96", :width "64", :height "64", :opacity "0.2"}] [:rect {:y "40", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "120", :stroke-linecap "round", :stroke-width "16", :x "40", :height "120"}] [:rect {:y "96", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "120", :stroke-linecap "round", :stroke-width "16", :x "96", :height "120"}]]