[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:x "56", :y "24", :width "144", :height "208", :rx "56", :opacity "0.2" :fill "currentColor"}] [:rect {:y "24", :rx "56", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "144", :stroke-linecap "round", :stroke-width "16", :x "56", :height "208"}] [:polyline {:points "152 88 128 64 104 88", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:polyline {:points "152 168 128 192 104 168", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "64", :stroke-linecap "round", :stroke-width "16", :x1 "128", :y2 "192", :x2 "128"}]]