[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "180", :cy "172", :r "28", :opacity "0.2" :fill "currentColor"}] [:circle {:cx "52", :cy "204", :r "28", :opacity "0.2" :fill "currentColor"}] [:circle {:cx "180", :cy "172", :r "28", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:circle {:cx "52", :cy "204", :r "28", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "80", :stroke-linecap "round", :stroke-width "16", :x1 "208", :y2 "112", :x2 "80"}] [:polyline {:points "80 204 80 64 208 32 208 172", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]