[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polygon {:points "64 48 152 208 192 208 104 48 64 48", :opacity "0.2" :fill "currentColor"}] [:polyline {:points "40 48 64 48 152 208 192 208 192 48", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "208", :stroke-linecap "round", :stroke-width "16", :x1 "40", :y2 "208", :x2 "88"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "48", :stroke-linecap "round", :stroke-width "16", :x1 "168", :y2 "48", :x2 "216"}] [:polyline {:points "192 208 104 48 64 48 64 208", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]