[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:x "40", :y "40", :width "176", :height "176", :rx "8", :opacity "0.2" :fill "currentColor"}] [:line {:x1 "200", :y1 "56", :x2 "56", :y2 "200", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "72", :stroke-linecap "round", :stroke-width "16", :x1 "32", :y2 "72", :x2 "112"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "32", :stroke-linecap "round", :stroke-width "16", :x1 "72", :y2 "112", :x2 "72"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "184", :stroke-linecap "round", :stroke-width "16", :x1 "144", :y2 "184", :x2 "224"}]]