[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:path {:d "M72,128h52a44,44,0,0,0,0-88H72Z", :opacity "0.2"}] [:path {:d "M72,128h52a44,44,0,0,0,0-88H72V192", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "16", :x1 "112", :y2 "216", :x2 "200"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "160", :stroke-linecap "round", :stroke-width "16", :x1 "200", :y2 "216", :x2 "144"}]]