[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:path {:d "M32,208V56a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V208l-32-16-32,16-32-16L96,208,64,192Z", :opacity "0.2" :fill "currentColor"}] [:path {:d "M32,208V56a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V208l-32-16-32,16-32-16L96,208,64,192Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "96", :stroke-linecap "round", :stroke-width "16", :x1 "152", :y2 "144", :x2 "104"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "96", :stroke-linecap "round", :stroke-width "16", :x1 "104", :y2 "144", :x2 "152"}]]