[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:x "56", :y "56", :width "144", :height "144", :opacity "0.2"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "16", :x1 "56", :y2 "200", :x2 "56"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "16", :x1 "200", :y2 "128", :x2 "56"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "16", :x1 "200", :y2 "200", :x2 "200"}]]