[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polygon {:points "112 56 192 56 144 200 64 200 112 56", :opacity "0.2" :fill "currentColor"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "16", :x1 "152", :y2 "200", :x2 "104"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "200", :stroke-linecap "round", :stroke-width "16", :x1 "64", :y2 "200", :x2 "144"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "16", :x1 "112", :y2 "56", :x2 "192"}]]