[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:ellipse {:rx "30", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :stroke-linecap "round", :stroke-width "16", :cx "94", :cy "72", :ry "40"}] [:ellipse {:rx "30", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :stroke-linecap "round", :stroke-width "16", :cx "166", :cy "184", :ry "40"}] [:polyline {:points "176 112 176 32 152 45.33", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:polyline {:points "96 224 96 144 72 157.33", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]