[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "72", :stroke-linecap "round", :stroke-width "16", :x1 "160", :y2 "200", :x2 "160"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "112", :stroke-linecap "round", :stroke-width "16", :x1 "120", :y2 "200", :x2 "120"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "152", :stroke-linecap "round", :stroke-width "16", :x1 "80", :y2 "200", :x2 "80"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "192", :stroke-linecap "round", :stroke-width "16", :x1 "40", :y2 "200", :x2 "40"}]]