[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "56", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "208", :stroke-linecap "round", :stroke-width "16", :x "24", :height "144"}] [:path {:d "M112,155.72a32,32,0,1,1,0-55.44", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:path {:d "M192,155.72a32,32,0,1,1,0-55.44", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]