[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "72", :stroke-linecap "round", :stroke-width "16", :x1 "184", :y2 "224", :x2 "32"}] [:path {:d "M146.34,189.66a8,8,0,0,1-5.65,2.34H64V115.31a8,8,0,0,1,2.34-5.65L136.4,40.4a56,56,0,0,1,79.2,79.2Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "64.52", :stroke-linecap "round", :stroke-width "16", :x1 "112", :y2 "144", :x2 "112"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "120", :stroke-linecap "round", :stroke-width "16", :x1 "136", :y2 "120", :x2 "215.2"}]]