[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "72", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "192", :stroke-linecap "round", :stroke-width "16", :x "32", :height "144"}] [:path {:d "M168,72V56a16,16,0,0,0-16-16H104A16,16,0,0,0,88,56V72", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "120", :stroke-linecap "round", :stroke-width "16", :x1 "128", :y2 "168", :x2 "128"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "144", :stroke-linecap "round", :stroke-width "16", :x1 "152", :y2 "144", :x2 "104"}]]