[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "128", :cy "128", :r "96", :fill "none", :stroke "currentColor", :stroke-miterlimit "10", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "96", :stroke-linecap "round", :stroke-width "16", :x1 "184", :y2 "128", :x2 "152"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "16", :x1 "184", :y2 "96", :x2 "152"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "96", :stroke-linecap "round", :stroke-width "16", :x1 "104", :y2 "128", :x2 "72"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "16", :x1 "104", :y2 "96", :x2 "72"}] [:circle {:cx "128", :cy "180", :r "12"}]]