[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "128", :cy "128", :r "96", :fill "none", :stroke "currentColor", :stroke-miterlimit "10", :stroke-width "16"}] [:rect {:y "104", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "48", :stroke-linecap "round", :stroke-width "16", :x "104", :height "48"}]]