[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "128", :cy "136", :r "88", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "136", :stroke-linecap "round", :stroke-width "16", :x1 "128", :y2 "96", :x2 "168"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "16", :stroke-linecap "round", :stroke-width "16", :x1 "104", :y2 "16", :x2 "152"}]]