[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "16", :x1 "32", :y2 "200", :x2 "32"}] [:rect {:y "88", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "168", :stroke-linecap "round", :stroke-width "16", :x "64", :height "80"}]]