[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:path {:d "M48,112a80,80,0,0,1,160,0v40a80,80,0,0,1-160,0Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "16", :x1 "208", :y2 "128", :x2 "48"}] [:circle {:cx "156", :cy "92", :r "12"}] [:circle {:cx "100", :cy "92", :r "12"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "32", :stroke-linecap "round", :stroke-width "16", :x1 "200", :y2 "51.57", :x2 "180.43"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "32", :stroke-linecap "round", :stroke-width "16", :x1 "56", :y2 "51.57", :x2 "75.57"}]]