[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "136", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "208", :stroke-linecap "round", :stroke-width "16", :x "24", :height "48"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "184", :stroke-linecap "round", :stroke-width "16", :x1 "88", :y2 "136", :x2 "88"}] [:path {:d "M208,104s-18-8,0-40,0-40,0-40", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:path {:d "M168,104s-18-8,0-40,0-40,0-40", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]