[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "64", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "224", :stroke-linecap "round", :stroke-width "16", :x "16", :height "128"}] [:polyline {:points "144 96 120 96 120 160 144 160", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "16", :x1 "136", :y2 "128", :x2 "120"}] [:polyline {:points "172 96 190 160 208 96", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:path {:d "M56,96h8a24,24,0,0,1,24,24v16a24,24,0,0,1-24,24H56a0,0,0,0,1,0,0V96A0,0,0,0,1,56,96Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]