[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "104", :rx "16", :stroke "currentColor", :transform "translate(344 -56) rotate(90)", :fill "none", :stroke-linejoin "round", :width "128", :stroke-linecap "round", :stroke-width "16", :x "136", :height "80"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "208", :stroke-linecap "round", :stroke-width "16", :x1 "128", :y2 "208", :x2 "88"}] [:path {:d "M160,176H40a16,16,0,0,1-16-16V64A16,16,0,0,1,40,48H184a16,16,0,0,1,16,16V80", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "112", :stroke-linecap "round", :stroke-width "16", :x1 "192", :y2 "112", :x2 "208"}]]