[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "144", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "176", :stroke-linecap "round", :stroke-width "16", :x "40", :height "64"}] [:rect {:y "48", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "176", :stroke-linecap "round", :stroke-width "16", :x "40", :height "64"}] [:circle {:cx "180", :cy "80", :r "12"}] [:circle {:cx "180", :cy "176", :r "12"}]]