[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "48", :rx "16", :stroke "currentColor", :transform "translate(256 240) rotate(180)", :fill "none", :stroke-linejoin "round", :width "192", :stroke-linecap "round", :stroke-width "16", :x "32", :height "144"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "224", :stroke-linecap "round", :stroke-width "16", :x1 "160", :y2 "224", :x2 "96"}]]