[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:path {:d "M32,216V56a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V216l-32-16-32,16-32-16L96,216,64,200Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "112", :stroke-linecap "round", :stroke-width "16", :x1 "144", :y2 "112", :x2 "192"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "144", :stroke-linecap "round", :stroke-width "16", :x1 "144", :y2 "144", :x2 "192"}] [:rect {:y "96", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "48", :stroke-linecap "round", :stroke-width "16", :x "64", :height "64"}]]