[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "40", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "176", :stroke-linecap "round", :stroke-width "16", :x "40", :height "176"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "42.34", :stroke-linecap "round", :stroke-width "16", :x1 "42.34", :y2 "213.66", :x2 "213.66"}]]