[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "40", :stroke-linecap "round", :stroke-width "16", :x1 "128", :y2 "216", :x2 "128"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "216", :stroke-linecap "round", :stroke-width "16", :x1 "104", :y2 "216", :x2 "152"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "88", :stroke-linecap "round", :stroke-width "16", :x1 "56", :y2 "56", :x2 "200"}] [:path {:d "M24,168c0,17.67,20,24,32,24s32-6.33,32-24L56,88Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:path {:d "M168,136c0,17.67,20,24,32,24s32-6.33,32-24L200,56Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]