[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "120", :stroke-linecap "round", :stroke-width "16", :x1 "16", :y2 "168", :x2 "16"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "96", :stroke-linecap "round", :stroke-width "16", :x1 "48", :y2 "192", :x2 "48"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "88", :stroke-linecap "round", :stroke-width "16", :x1 "80", :y2 "192", :x2 "80"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "16", :x1 "112", :y2 "192", :x2 "112"}] [:path {:d "M144,192h64a40,40,0,0,0,7.64-79.27A72,72,0,0,0,144,48", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]