[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "128", :cy "120", :r "40", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}] [:rect {:y "40", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "176", :stroke-linecap "round", :stroke-width "16", :x "40", :height "176"}] [:path {:d "M57.78,216a72,72,0,0,1,140.44,0", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]