[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:x "88", :y "24", :width "80", :height "144", :rx "40", :opacity "0.2" :fill "currentColor"}] [:rect {:y "24", :rx "40", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "80", :stroke-linecap "round", :stroke-width "16", :x "88", :height "144"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "200", :stroke-linecap "round", :stroke-width "16", :x1 "128", :y2 "240", :x2 "128"}] [:path {:d "M200,128a72,72,0,0,1-144,0", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "16"}]]