[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polygon {:points "224 192 160 64 96 64 32 192 224 192", :opacity "0.2" :fill "currentColor"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "64", :stroke-linecap "round", :stroke-width "16", :x1 "64", :y2 "64", :x2 "192"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "136", :stroke-linecap "round", :stroke-width "16", :x1 "8", :y2 "136", :x2 "248"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "64", :stroke-linecap "round", :stroke-width "16", :x1 "96", :y2 "192", :x2 "32"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "64", :stroke-linecap "round", :stroke-width "16", :x1 "160", :y2 "192", :x2 "224"}]]