[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "216", :stroke-linecap "round", :stroke-width "12", :x1 "216", :y2 "216", :x2 "40"}] [:rect {:y "100", :rx "8", :stroke "currentColor", :transform "translate(44 300) rotate(-90)", :fill "none", :stroke-linejoin "round", :width "112", :stroke-linecap "round", :stroke-width "12", :x "116", :height "56"}] [:rect {:y "32", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "56", :stroke-linecap "round", :stroke-width "12", :x "56", :height "152"}]]