[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "224", :stroke-linecap "round", :stroke-width "12", :x1 "128", :y2 "72", :x2 "128"}] [:polyline {:points "56 144 128 72 200 144", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "12"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "40", :stroke-linecap "round", :stroke-width "12", :x1 "40", :y2 "40", :x2 "216"}]]