[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:path {:d "M153.55,125.16,167,30.87A8,8,0,0,1,174.94,24h18.12A8,8,0,0,1,201,30.87L216,136v80", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "12"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "176", :stroke-linecap "round", :stroke-width "12", :x1 "80", :y2 "176", :x2 "108"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "176", :stroke-linecap "round", :stroke-width "12", :x1 "148", :y2 "176", :x2 "176"}] [:polyline {:points "216 136 168 136 104 88 104 136 40 88 40 216", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "12"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "216", :stroke-linecap "round", :stroke-width "12", :x1 "24", :y2 "216", :x2 "232"}]]