[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "120", :stroke-linecap "round", :stroke-width "12", :x1 "208", :y2 "72", :x2 "208"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "96", :stroke-linecap "round", :stroke-width "12", :x1 "232", :y2 "96", :x2 "184"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "32", :stroke-linecap "round", :stroke-width "12", :x1 "160", :y2 "64", :x2 "160"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "48", :stroke-linecap "round", :stroke-width "12", :x1 "176", :y2 "48", :x2 "144"}] [:path {:d "M210.69,158.18A96.78,96.78,0,0,1,192,160,96.08,96.08,0,0,1,97.82,45.31,88,88,0,1,0,210.69,158.18Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "12"}]]