[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polyline {:points "224 208 224 112 200 128", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "12"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "12", :x1 "40", :y2 "176", :x2 "40"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "116", :stroke-linecap "round", :stroke-width "12", :x1 "144", :y2 "116", :x2 "40"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "12", :x1 "144", :y2 "176", :x2 "144"}]]