[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "48", :stroke-linecap "round", :stroke-width "8", :x1 "128", :y2 "88", :x2 "128"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "168", :stroke-linecap "round", :stroke-width "8", :x1 "128", :y2 "208", :x2 "128"}] [:rect {:y "88", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "176", :stroke-linecap "round", :stroke-width "8", :x "40", :height "80"}]]