[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "64", :stroke-linecap "round", :stroke-width "8", :x1 "192", :y2 "192", :x2 "64"}] [:polyline {:points "168 192 64 192 64 88", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}]]