[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "64", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "96", :stroke-linecap "round", :stroke-width "8", :x "80", :height "48"}] [:rect {:y "48", :rx "8", :stroke "currentColor", :transform "translate(256) rotate(90)", :fill "none", :stroke-linejoin "round", :width "192", :stroke-linecap "round", :stroke-width "8", :x "32", :height "160"}] [:circle {:cx "88", :cy "148", :r "8"}] [:circle {:cx "128", :cy "148", :r "8"}] [:circle {:cx "168", :cy "148", :r "8"}] [:circle {:cx "88", :cy "188", :r "8"}] [:circle {:cx "128", :cy "188", :r "8"}] [:circle {:cx "168", :cy "188", :r "8"}]]