[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "168", :stroke-linecap "round", :stroke-width "8", :x1 "128", :y2 "224", :x2 "128"}] [:path {:d "M44.85,80A96,96,0,1,0,128,32V88a40,40,0,1,1-34.65,20Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "138.36", :stroke-linecap "round", :stroke-width "8", :x1 "89.35", :y2 "152.85", :x2 "35.25"}]]