[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:ellipse {:rx "104", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :stroke-linecap "round", :stroke-width "8", :cx "128", :cy "104", :ry "48"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "152", :stroke-linecap "round", :stroke-width "8", :x1 "128", :y2 "200", :x2 "128"}] [:path {:d "M24,104v48c0,24,40,48,104,48s104-24,104-48V104", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "142.11", :stroke-linecap "round", :stroke-width "8", :x1 "192", :y2 "190.11", :x2 "192"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "142.11", :stroke-linecap "round", :stroke-width "8", :x1 "64", :y2 "190.11", :x2 "64"}]]