[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "56", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "224", :stroke-linecap "round", :stroke-width "8", :x "16", :height "144"}] [:polyline {:points "56 152 56 104 88 136 120 104 120 152", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "8", :x1 "176", :y2 "152", :x2 "176"}] [:polyline {:points "200 128 176 152 152 128", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}]]