[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "56", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "168", :stroke-linecap "round", :stroke-width "8", :x "40", :height "80"}] [:path {:d "M208,96h24a8,8,0,0,1,8,8v50a8,8,0,0,1-5.8,7.69L133.8,190.34A8,8,0,0,0,128,198v34", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "96", :stroke-linecap "round", :stroke-width "8", :x1 "40", :y2 "96", :x2 "16"}]]