[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "40", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "72", :stroke-linecap "round", :stroke-width "8", :x "72", :height "128"}] [:path {:d "M144,168v72a72,72,0,0,1-72-72", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "40", :stroke-linecap "round", :stroke-width "8", :x1 "72", :y2 "168", :x2 "144"}] [:path {:d "M144,168h8a64,64,0,0,0,0-128h-8", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}]]