[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "34.21", :rx "8", :stroke "currentColor", :transform "translate(24.22 -20.31) rotate(10.02)", :fill "none", :stroke-linejoin "round", :width "148.27", :stroke-linecap "round", :stroke-width "8", :x "53.87", :height "187.59"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "59.81", :stroke-linecap "round", :stroke-width "8", :x1 "97.22", :y2 "74.47", :x2 "180.2"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "105.98", :stroke-linecap "round", :stroke-width "8", :x1 "174.66", :y2 "91.33", :x2 "91.67"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "130.17", :stroke-linecap "round", :stroke-width "8", :x1 "127.62", :y2 "122.84", :x2 "86.13"}]]