[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:path {:d "M68,164,34.34,197.66a8,8,0,0,0,0,11.31L47,221.66a8,8,0,0,0,11.32,0L92,188", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:rect {:y "102.75", :rx "8.01", :stroke "currentColor", :transform "translate(-89.02 113.09) rotate(-45)", :fill "none", :stroke-linejoin "round", :width "33.96", :stroke-linecap "round", :stroke-width "8", :x "75.02", :height "122.49"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "96", :stroke-linecap "round", :stroke-width "8", :x1 "160", :y2 "152", :x2 "104"}] [:polyline {:points "82.44 130.43 152 40 216 40 216 104 125.57 173.56", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}]]