[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "212", :cy "180", :r "28", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "166", :stroke-linecap "round", :stroke-width "8", :x1 "187.75", :y2 "112", :x2 "220"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "8", :x1 "40", :y2 "176", :x2 "40"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "116", :stroke-linecap "round", :stroke-width "8", :x1 "144", :y2 "116", :x2 "40"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "8", :x1 "144", :y2 "176", :x2 "144"}]]