[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "80", :cy "104", :r "40", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "80", :stroke-linecap "round", :stroke-width "8", :x1 "160", :y2 "80", :x2 "248"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "8", :x1 "160", :y2 "128", :x2 "248"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "176", :stroke-linecap "round", :stroke-width "8", :x1 "184", :y2 "176", :x2 "248"}] [:path {:d "M16,192c7.1-27.6,34.18-48,64-48s56.9,20.4,64,48", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "8"}]]