[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "80", :rx "16", :stroke "currentColor", :transform "translate(256) rotate(90)", :fill "none", :stroke-linejoin "round", :width "176", :stroke-linecap "round", :stroke-width "8", :x "40", :height "96"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "88", :stroke-linecap "round", :stroke-width "8", :x1 "208", :y2 "168", :x2 "208"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "8", :x1 "240", :y2 "152", :x2 "240"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "88", :stroke-linecap "round", :stroke-width "8", :x1 "48", :y2 "168", :x2 "48"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "8", :x1 "16", :y2 "152", :x2 "16"}]]