[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "72", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "192", :stroke-linecap "round", :stroke-width "12", :x "32", :height "136"}] [:path {:d "M88,72V64a40,40,0,0,1,80,0v8", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "12"}]]