[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "40", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "176", :stroke-linecap "round", :stroke-width "12", :x "40", :height "176"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "24", :stroke-linecap "round", :stroke-width "12", :x1 "176", :y2 "56", :x2 "176"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "24", :stroke-linecap "round", :stroke-width "12", :x1 "80", :y2 "56", :x2 "80"}] [:polygon {:points "128 158.54 157.67 176 149.6 143.41 176 121.61 141.35 118.94 128 88 114.65 118.94 80 121.61 106.4 143.41 98.33 176 128 158.54", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "12"}]]