[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "40", :stroke-linecap "round", :stroke-width "24", :x1 "40", :y2 "216", :x2 "40"}] [:rect {:y "56", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "104", :stroke-linecap "round", :stroke-width "24", :x "80", :height "52"}] [:rect {:y "148", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "144", :stroke-linecap "round", :stroke-width "24", :x "80", :height "52"}]]