[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "12", :stroke-linecap "round", :stroke-width "24", :x1 "104", :y2 "12", :x2 "152"}] [:rect {:y "44", :rx "16", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "128", :stroke-linecap "round", :stroke-width "24", :x "64", :height "200"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "164", :stroke-linecap "round", :stroke-width "24", :x1 "100", :y2 "164", :x2 "156"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "204", :stroke-linecap "round", :stroke-width "24", :x1 "100", :y2 "204", :x2 "156"}]]