[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:ellipse {:rx "28", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :stroke-linecap "round", :stroke-width "24", :cx "92", :cy "72", :ry "36"}] [:polyline {:points "180 108 180 36 156 48", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:ellipse {:rx "28", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :stroke-linecap "round", :stroke-width "24", :cx "164", :cy "184", :ry "36"}] [:polyline {:points "92 220 92 148 68 160", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]