[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "76", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "140", :stroke-linecap "round", :stroke-width "24", :x "40", :height "140"}] [:polyline {:points "76 40 216 40 216 180", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]