[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "56", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "208", :stroke-linecap "round", :stroke-width "24", :x "24", :height "144"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "164", :stroke-linecap "round", :stroke-width "24", :x1 "164", :y2 "164", :x2 "196"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "164", :stroke-linecap "round", :stroke-width "24", :x1 "116", :y2 "164", :x2 "128"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "100", :stroke-linecap "round", :stroke-width "24", :x1 "24", :y2 "100", :x2 "232"}]]