[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "48", :rx "16", :stroke "currentColor", :transform "translate(256) rotate(90)", :fill "none", :stroke-linejoin "round", :width "192", :stroke-linecap "round", :stroke-width "24", :x "32", :height "160"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "72", :stroke-linecap "round", :stroke-width "24", :x1 "48", :y2 "72", :x2 "208"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "184", :stroke-linecap "round", :stroke-width "24", :x1 "48", :y2 "184", :x2 "208"}]]