[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "100", :rx "16", :stroke "currentColor", :transform "translate(340 -48) rotate(90)", :fill "none", :stroke-linejoin "round", :width "124", :stroke-linecap "round", :stroke-width "24", :x "132", :height "92"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "208", :stroke-linecap "round", :stroke-width "24", :x1 "112", :y2 "208", :x2 "88"}] [:path {:d "M148,168H40a16,16,0,0,1-16-16V64A16,16,0,0,1,40,48H184a16,16,0,0,1,16,16V84", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "124", :stroke-linecap "round", :stroke-width "24", :x1 "188", :y2 "124", :x2 "200"}]]