[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polyline {:points "152 88 184 88 184 120", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:polyline {:points "104 168 72 168 72 136", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:rect {:y "48", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "192", :stroke-linecap "round", :stroke-width "24", :x "32", :height "160"}]]