[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "136", :stroke-linecap "round", :stroke-width "24", :x1 "64", :y2 "136", :x2 "192"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "88", :stroke-linecap "round", :stroke-width "24", :x1 "24", :y2 "88", :x2 "232"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "184", :stroke-linecap "round", :stroke-width "24", :x1 "104", :y2 "184", :x2 "128"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "176", :stroke-linecap "round", :stroke-width "24", :x1 "168", :y2 "224", :x2 "216"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "176", :stroke-linecap "round", :stroke-width "24", :x1 "216", :y2 "224", :x2 "168"}]]