[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "128", :cy "168", :r "64", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "24", :x1 "128", :y2 "48", :x2 "128"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "72", :stroke-linecap "round", :stroke-width "24", :x1 "88", :y2 "24", :x2 "168"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "24", :stroke-linecap "round", :stroke-width "24", :x1 "88", :y2 "72", :x2 "168"}]]