[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "108", :stroke-linecap "round", :stroke-width "24", :x1 "156", :y2 "108", :x2 "188"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "148", :stroke-linecap "round", :stroke-width "24", :x1 "156", :y2 "148", :x2 "188"}] [:rect {:y "48", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "192", :stroke-linecap "round", :stroke-width "24", :x "32", :height "160"}] [:circle {:cx "96", :cy "120", :r "24", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:path {:d "M65.34,164c4.91-11.73,17.23-20,30.66-20s25.75,8.26,30.66,20", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]