[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "40", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "136", :stroke-linecap "round", :stroke-width "24", :x "80", :height "136"}] [:circle {:cx "128", :cy "88", :r "20"}] [:path {:d "M184,176v32a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V80a8,8,0,0,1,8-8H80", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:path {:d "M108.69,176l65.65-65.66a8,8,0,0,1,11.32,0L216,140.69", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]