[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "48", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "152", :stroke-linecap "round", :stroke-width "24", :x "72", :height "120"}] [:path {:d "M192,168v32a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V88a8,8,0,0,1,8-8H72", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:path {:d "M72,128.69l38.34-38.35a8,8,0,0,1,11.32,0L165.31,134,189,110.34a8,8,0,0,1,11.31,0L224,134.06", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]