[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "56", :stroke-linecap "round", :stroke-width "24", :x1 "80", :y2 "56", :x2 "176"}] [:path {:d "M80,56,64,215.24A8,8,0,0,0,72,224H184a8,8,0,0,0,8-8.76L176,56,133.12,17.85a8,8,0,0,0-10.24,0Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "96", :stroke-linecap "round", :stroke-width "24", :x1 "128", :y2 "116", :x2 "128"}] [:polyline {:points "220 96 220 116 36 116 36 96", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "168", :stroke-linecap "round", :stroke-width "24", :x1 "68.77", :y2 "168", :x2 "187.23"}]]