[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "56", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "224", :stroke-linecap "round", :stroke-width "24", :x "16", :height "144"}] [:polyline {:points "60 148 60 108 88 136 116 108 116 148", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "108", :stroke-linecap "round", :stroke-width "24", :x1 "176", :y2 "148", :x2 "176"}] [:polyline {:points "196 132 176 148 156 132", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]