[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "24", :x1 "156", :y2 "128", :x2 "232"}] [:rect {:y "68", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "128", :stroke-linecap "round", :stroke-width "24", :x "28", :height "120"}] [:path {:d "M80,136H96a16,16,0,0,0,0-32H80v48", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:path {:d "M61.06,68a96,96,0,1,1,0,120", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]