[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:path {:d "M16,88v92a20,20,0,0,0,20,20", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "108", :stroke-linecap "round", :stroke-width "24", :x1 "104", :y2 "108", :x2 "176"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "148", :stroke-linecap "round", :stroke-width "24", :x1 "104", :y2 "148", :x2 "176"}] [:path {:d "M56,180V64a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V184a16,16,0,0,1-16,16H36A20,20,0,0,0,56,180Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]