[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "170", :cy "110", :r "62", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:rect {:y "48", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "52", :stroke-linecap "round", :stroke-width "24", :x "56", :height "168"}]]