[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "100", :stroke-linecap "round", :stroke-width "24", :x1 "80", :y2 "100", :x2 "176"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "140", :stroke-linecap "round", :stroke-width "24", :x1 "80", :y2 "140", :x2 "176"}] [:path {:d "M32,208V56a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V208l-32-16-32,16-32-16L96,208,64,192Z", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]