[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:circle {:cx "60", :cy "76", :r "28", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:circle {:cx "60", :cy "180", :r "28", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "128", :stroke-linecap "round", :stroke-width "24", :x1 "136", :y2 "164.19", :x2 "83.11"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "193.68", :stroke-linecap "round", :stroke-width "24", :x1 "232", :y2 "91.81", :x2 "83.11"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "62.32", :stroke-linecap "round", :stroke-width "24", :x1 "232", :y2 "103.77", :x2 "171.42"}]]