[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polygon {:points "60 64 24 184 96 184 60 64", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:circle {:cx "158", :cy "74", :r "42", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:rect {:y "156", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "88", :stroke-linecap "round", :stroke-width "24", :x "136", :height "52"}]]