[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "88", :stroke-linecap "round", :stroke-width "24", :x1 "228", :y2 "168", :x2 "228"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "40", :stroke-linecap "round", :stroke-width "24", :x1 "48", :y2 "216", :x2 "208"}] [:path {:d "M152,154.4V224L80,168H32a8,8,0,0,1-8-8V96a8,8,0,0,1,8-8H91.64", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:polyline {:points "118.48 58.07 152 32 152 94.94", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "104", :stroke-linecap "round", :stroke-width "24", :x1 "192", :y2 "138.94", :x2 "192"}]]