[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "40", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "176", :stroke-linecap "round", :stroke-width "24", :x "40", :height "176"}] [:rect {:y "96", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "64", :stroke-linecap "round", :stroke-width "24", :x "96", :height "64"}]]