[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "64", :rx "64", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "224", :stroke-linecap "round", :stroke-width "24", :x "16", :height "128"}] [:circle {:cx "80", :cy "128", :r "24", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}]]