[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:rect {:y "68", :rx "8", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "136", :stroke-linecap "round", :stroke-width "24", :x "88", :height "76"}] [:path {:d "M132,68V40a8,8,0,0,1,8-8h32a8,8,0,0,1,8,8V68", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:circle {:cx "72", :cy "224", :r "20"}] [:circle {:cx "216", :cy "224", :r "20"}] [:path {:d "M24,48,45.66,69.66A8,8,0,0,1,48,75.31V180", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "180", :stroke-linecap "round", :stroke-width "24", :x1 "32", :y2 "180", :x2 "240"}]]