[:svg {:xmlns "http://www.w3.org/2000/svg", :viewBox "0 0 256 256"} [:rect {:width "256", :height "256", :fill "none"}] [:polyline {:points "60 96 86 160 112 96", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:rect {:y "56", :rx "72", :stroke "currentColor", :fill "none", :stroke-linejoin "round", :width "232", :stroke-linecap "round", :stroke-width "24", :x "12", :height "144"}] [:path {:d "M148,136h20a20,20,0,0,0,0-40H148v64", :fill "none", :stroke "currentColor", :stroke-linecap "round", :stroke-linejoin "round", :stroke-width "24"}] [:line {:stroke "currentColor", :fill "none", :stroke-linejoin "round", :y1 "160", :stroke-linecap "round", :stroke-width "24", :x1 "188", :y2 "135.15", :x2 "173.8"}]]